:root {
  --top-bg-color: #354f52;
  --sidebar-background: #2f3e46;
  --hover-link-text: #cad2c5;
  --main-background: #84a98c;
  --text-color: #52796f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  color: var(--sidebar-background);
}

.name-and-navigation {
  padding: 20px;
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-with-links,
.contacts-list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.list-with-links {
  align-items: center;
}
.contacts-list {
  justify-content: space-around;
  margin-top: 50px;
}

.navigation-list-item,
.contact-list-item {
  text-decoration: none;
  --nav-color: var(--sidebar-background);
  color: var(--nav-color);
}

.navigation-list-item {
  padding-left: 15px;
}

.navigation-list-item:hover,
.navigation-list-item:focus,
.contact-list-item:hover,
.contact-list-item:focus {
  --nav-color: var(--hover-link-text);
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1200px;
  margin: 0px auto;
}

.hero-banner {
  text-align: end;
  padding: 30px;
  background-color: var(--top-bg-color);
}

/* divide page into grid */
.page-section {
  display: grid;
  grid-template-areas: "heading content";
  grid-template-columns: 15% 85%;
  background-color: var(--main-background);
}

.left-side-header {
  grid-area: heading;
  margin-top: 20px;
  padding: 20px;
  text-align: end;
  background-color: var(--sidebar-background);
  color: var(--hover-link-text);
}

.about-me-text {
  grid-area: content;
  margin: 30px;
  width: 90%;
}
.my-photo {
  float: left;
  margin: 0 20px 10px 0;
}

.banner-text {
  color: var(--hover-link-text);
}

.list-portfolio {
  margin: 30px;
  width: 90%;
  min-height: 500px;
  height: 70vh;
  list-style: none;
  display: grid;
  grid-template-areas: "first-project first-project" "first-project first-project" "second third" "forth fifth";
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%;
}

.first-portfolio-item {
  grid-area: first-project;
  background-image: url("../images/02-portfolio-1.jpg");
  text-decoration: none;
}

.second {
  grid-area: second;
  background-image: url("../images/02-portfolio-2.jpg");
}

.third {
  grid-area: third;
  background-image: url("../images/02-portfolio-3.jpg");
}

.forth {
  grid-area: forth;
  background-image: url("../images/02-portfolio-4.jpg");
}

.fifth {
  grid-area: fifth;
  background-image: url("../images/02-run-buddy.jpg");
}

.first-portfolio-item,
.second,
.third,
.forth,
.fifth {
  margin: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: block;
  align-content: end;
}

.portfolio-link {
  position: relative;
  top: 20px;
  background-color: var(--main-background);
  color: var(--sidebar-background);
  padding: 10px;
  margin: 10px;

  display: inline;
}
