:root {
  --top-bg-color: #354f52;
  --sidebar-background: #2f3e46;
  --hover-link-text: #cad2c5;
  --main-background: #84a98c;
  /* --text-color: #52796f; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  color: var(--sidebar-background);
}

/* Navigation section */
.name-and-navigation {
  padding: 20px;
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-with-links,
.contacts-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list-with-links {
  align-items: center;
}
.contacts-list {
  grid-area: content;
  justify-content: space-around;
  margin: 40px 10px;
  width: 85%;
}

.navigation-list-item,
.contact-list-item {
  text-decoration: none;
  --nav-color: var(--sidebar-background);
  color: var(--nav-color);
}

.navigation-list-item {
  padding-left: 15px;
}

.navigation-list-item:hover,
.navigation-list-item:focus,
.contact-list-item:hover,
.contact-list-item:focus {
  --nav-color: var(--hover-link-text);
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin: 0px auto;
}

/* Banner */
.hero-banner {
  text-align: end;
  padding: 30px;
  background-color: var(--top-bg-color);
}

/* divide page into grid */
.page-section {
  display: grid;
  grid-template-areas: "heading content";
  grid-template-columns: 15% 85%;
  background-color: var(--main-background);
}

.left-side-header {
  grid-area: heading;
  margin: 20px 5px;
  padding: 20px;
  text-align: end;
  background-color: var(--sidebar-background);
  color: var(--hover-link-text);
}

/* Page content */
.about-me-text {
  grid-area: content;
  margin: 30px;
  width: 85%;
}

.my-photo {
  float: left;
  margin: 0 20px 10px 0;
  width: 30%;
}

.banner-text {
  color: var(--hover-link-text);
}

/* Grid with my works divides page in two sections
    First project
    _____________
    Other projects
     */
.list-portfolio {
  grid-area: content;
  margin: 20px 30px;
  width: 85%;
  min-height: 500px;
  height: 70vh;
  list-style: none;
  display: grid;
  grid-template-rows: 50% 50%;
}

/* Divides all projects but first into two columns */
.other-projects {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  gap: 10px;
}

/* all the backgrounds */
.horiseon {
  background-image: url("../images/refactor.png");
}

.go-it-portfolio {
  background-image: url("../images/go-it.jpg");
}

.css-grid {
  background-image: url("../images/css-grid.png");
}

.holdim {
  background-image: url("../images/holdim.png");
}

.my-cv {
  background-image: url("../images/my-cv.png");
}

/* Style of the bg pictures */
.horiseon,
.go-it-portfolio,
.css-grid,
.holdim,
.my-cv {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  filter: sepia(100%) hue-rotate(140deg);
}

.list-portfolio a:hover,
.list-portfolio a:focus {
  filter: sepia(0%) hue-rotate(0deg);
}

/* Text on picture */
.portfolio-link {
  position: absolute;
  top: 20px;
  background-color: var(--hover-link-text);
  color: var(--sidebar-background);
  padding: 10px;
  margin: 10px;
  display: inline;
}

/* Medias */
@media only screen and (max-width: 1200px) {
  .nav-wrapper {
    width: 100%;
  }

  h1,
  h2 {
    font-size: medium;
  }

  .list-with-links {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 600px) {
  .left-side-header {
    display: none;
  }

  .page-section {
    grid-template-areas: "content content";
    gap: 10px;
  }

  .my-photo {
    width: 30%;
  }

  .contacts-list {
    flex-wrap: wrap;
  }

  .list-portfolio {
    grid-template-rows: 40% auto;
  }

  .other-projects {
    grid-template-columns: none;
    grid-template-rows: auto;
  }
  .portfolio-link {
    top: 10px;
  }
}
